.backgroundcovcer{
    margin-top: 100px;
    background: url("../img/socialmedia.jpg") center center fixed;
    width: 100%;
    background-size: cover;
}
.mainContainer{
    color: white;
    background: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 20px;
}
.sectionService{
    margin-bottom: 80px;
}
.CoverDisc{
    padding-top: 200px;
    padding-bottom: 100px;
   color: black;
}
.serviceList{
    float: left;
}
.detail{
    font-size: 16px;
    margin-left: 70px;
    overflow: hidden;
}
.detail h2{
    font-size: 26px;

}

.containerHelp{
    margin-top: 100px;

    background: url("../img/pattern.png") repeat 0 0 #222;
}
.contentContainer{
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.aboutus{
    padding-top: 100px;
    background: url("../img/market.jpg") fixed;
    background-size: cover;
}
.aboutCantaint{
    color: white;
    padding:50px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    margin-bottom: 150px;
   }

.contactSec{
    padding-top: 50px;
    background: url("../img/stardust.png")   repeat;
    padding-bottom: 50px;
}
.contactList{
        color: white;
     float: left;
 }
.detailContact{
    color: white;
    font-size: 16px;
    margin-left: 70px;
    overflow: hidden;
}
.contHead{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.socialButton-fb{
    background: transparent;
}
.socialButton-tw{
    background: transparent;
}
.socialButton-gp{
    background: transparent;
}
.socialButton-in{
    background: transparent;
}
.socialButton-fb:hover{
    background: #337ab7;
}
.socialButton-tw:hover{
    background: #71DAF7;
}
.socialButton-gp:hover{
    background: #D34836;
}
.socialButton-in:hover{
    background:#1A7FB3
}
.footer{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#map {
      width: 100%;
      height: 400px;
  }
